<!-- frontend page for EdgeURL -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EdgeURL</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="background-glow glow-1"></div>
  <div class="background-glow glow-2"></div>

  <main class="container">
    <section class="card">
      <h1>EdgeURL</h1>
      <p class="subtitle">Shorten your links instantly.</p>

      <form id="urlForm" class="url-form">
        <input
          type="text"
          name="originalUrl"
          placeholder="Enter URL..."
          required
        />
        <button type="submit">Shorten</button>
      </form>

      <div id="result" class="result-box" style="display: none;"></div>
      <a href="/logs" class="secondary-button">View Logs</a>

    </section>
  </main>

  <script>
    const form = document.getElementById('urlForm');
    const resultDiv = document.getElementById('result');

    form.addEventListener('submit', async (e) => {
      e.preventDefault();

      const formData = new FormData(form);
      const originalUrl = formData.get('originalUrl');

      try {
        const response = await fetch('/shorten', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ originalUrl })
        });

        const data = await response.json();

        resultDiv.style.display = 'block';

        if (data.error) {
  resultDiv.innerHTML = `<p>${data.error}</p>`;
} else {
  resultDiv.innerHTML = `
    <p>${data.reused ? 'Existing short URL found:' : 'URL created:'}</p>
    <a href="${data.shortUrl}" target="_blank">${data.shortUrl}</a>
  `;
}

      } catch (err) {
        resultDiv.style.display = 'block';
        resultDiv.innerHTML = `<p>Something went wrong</p>`;
      }
    });
  </script>
</body>
</html>